@import url('https://fonts.googleapis.com/css?family=Nunito|Roboto+Mono:400,700');

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
    font-family: 'Roboto Mono', sans-serif;
    color: #FFFFFF;
    background: #1B1B1B;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* BASIC STYLES */
#container {
  max-width: 1025px;
  width: 100%;
  margin: 0 auto;
}

h1 {
    font-family: "Roboto Mono", monospace;
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.20;
    opacity: .84;
    margin-top: 0px;
    margin-bottom: 10px;
    letter-spacing: -0.72px;
    word-spacing: -0.10px;
    text-transform: none;
}

h2 {
    font-family: "Roboto Mono", monospace;
    font-size: 1.75rem;
    font-weight: 400;
    line-height: 1.20;
    opacity: .84;
    margin-top: 30px;
    margin-bottom: 5px;
    letter-spacing: -0.72px;
    word-spacing: 0.00px;
    text-transform: none;
}

h3 {
    font-family: "Roboto Mono", monospace;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.20;
    opacity: .84;
    margin-top: 30px;
    margin-bottom: 5px;
    letter-spacing: -0.10px;
    word-spacing: -0.10px;
    text-transform: none;
}

h4 {
    font-family: "Roboto Mono", monospace;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.20;
    opacity: .84;
    margin-top: 30px;
    margin-bottom: 5px;
    letter-spacing: -0.10px;
    word-spacing: -0.10px;
    text-transform: none;
}

p {
    font-family: "Roboto Mono", monospace;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    opacity: 0.84;
    margin-top: 0px;
    margin-bottom: 25px;
    letter-spacing: -0.30px;
    word-spacing: -0.10px;
    text-transform: none;

    @media screen and (max-width: 770px) {
      font-size: 0.875rem;
    }
}

a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.84);
}

ul {
  list-style-type: none;
}

.button {
  height: 40px;
  padding: 0 32px;
  background: rgba(255, 255, 255, 0.12);
  color: rgba(255, 255, 255, 0.5);
  display: inline-block;
  line-height: 40px;
}

.border-2 {
  border-radius: 2px;
}

.input {
  height: 48px;
  width: 316px;
  background: transparent;
  color: rgba(255, 255, 255, 0.84);
  border: 2px solid rgba(255, 255, 255, 0.12);
  margin-bottom: 48px;
  padding: 0 16px;
}

/* NAVIGATION */
#navigation {
  margin-bottom: 72px;

  @media screen and (max-width: 770px) {
    margin-bottom: 2rem;
  }
}

#navigation ul {
  height: 120px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-left: 0px;

  @media screen and (max-width: 770px) {
    justify-content: center;
    flex-direction: column;

    #logo {
      margin-left: initial;
      margin-right: initial;
      margin-bottom: 1.5rem;

      a {margin: 0;}
    }


  }
}

#navigation ul li a {
  margin: 0 25px 0 25px;
}

.right-links {
  display: flex;
}

#logo {
  margin-right: auto;
  margin-left: 0;
}

#logo a {
  margin-left: 0 !important;
}

/* IMAGES */
.hero {
  width: 100%;
  height: 432px;
  margin-bottom: 142px;
  background-size: cover;

  @media screen and (max-width: 770px) {
    height: 221px;
    margin-bottom: 71px;
  }
}

#home-hero {
  background-image: url("../images/space-view.jpg");
}

#article-hero {
  background-image: url("../images/harvest-moon.jpg");
  height: 672px;
  width: 504px;
  background-position: center;
  margin-bottom: 0;

  @media screen and (max-width: 770px) {
    display: block;
    width: 100%;
    height: 432px;
  }
}

#about-hero {
  background-image: url("../images/astronaut-visor.jpg");
  margin-bottom: 96px;
}

/* SPLIT LAYOUT */
.split {
  display: flex;
  margin-bottom: 96px;

  @media screen and (max-width: 770px) {
    flex-direction: column;
  }
}

div.split:last-of-type {
  @media screen and (max-width: 770px) {
    display: flex;
    flex-direction: column;

    .right {
      order: -1;
    }
  }
}

.split ol li {
  margin-bottom: 96px;
}

.split ol li:last-of-type {
  margin-bottom: 0;
}

.split ol li h3 {
  margin-bottom: 24px;
}

.split ol li p {
  margin-bottom: 48px;

  @media screen and (max-width: 770px) {
    font-size: 0.875rem;
    margin-bottom: 1.5rem;
  }
}

.left, .right {
  width: 100%;
}

.left > h2 {
  margin-bottom: 40px;

  @media screen and (max-width: 770px) {
    width: 80%;
    padding-left: 2.5rem;
  }
}

.left > a {
  @media screen and (max-width: 770px) {
    margin-left: 2.5rem;
  }
}

.left > p {
  margin-bottom: 72px;

  @media screen and (max-width: 770px) {
    margin-bottom: 2rem;
    padding-left: 2.5rem;
  }
}

/* FOOTER */
footer {
  height: 112px;
  position: relative;
  display: flex;
  justify-content: flex-end;
  padding-top: 1.5rem;

  @media screen and (max-width: 770px) {
    justify-content: center;

    & p {
      width: 95%;
      margin: 0 auto;
    }
  }
}

footer p {
  color: rgba(255, 255, 255, 0.38);
}

footer a {
  color: rgba(255, 255, 255, 0.38);
}

footer::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  top: 0;
  background: rgba(255, 255, 255, 0.12);
}

/* HEADER */
.header {
  margin-bottom: 96px;
  text-align: center;

  @media screen and (max-width: 770px) {
    margin-bottom: 3rem;
  }
}

/* ABOUT */
#about-info {
  margin: 0 auto;
  max-width: 75%;
  margin-bottom: 112px;
}

#about-info p {
  margin-bottom: 48px;
}

/* CONTACT */
h4 {
  margin-bottom: 48px;
  margin-top: 0;
}

#contact  {
  .right {
    order: 2;
  }

  .left, .right {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .left > p {
    margin-bottom: 2rem;
  }

  @media screen and (max-width: 770px) {
    .left {
      margin-bottom: 3rem;
    }
  }
}

/* FORM */
label {
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 12px;
  display: inline-block;
}

textarea {
  height: 96px !important;
  padding: 16px !important;
}

input[type=submit] {
  border: none;
  width: 316px;
  font-size: 16px;
  cursor: pointer;
}
